.navbar {
    background: #41BAD4;
    margin-bottom: 100px;
}
.navbar-brand {
    font-family: 'Lora';
    font-size: 32px;
    font-weight: 400;
    font-style: bold;
}
.form-control {
    border-radius: 20px 20px 20px 20px;
}
.btn-login, .btn-soal-latihan, .btn-submit-tugas, .btn-update-biodata {
    box-shadow: 1px 2px 3px 3px;
    width: 400px;
    border-radius: 20px 20px 20px 20px;
}
.tab-content {
    margin-bottom: 200px;
}

.img-user {
    margin-top: 30px;
}
.name-user{
    margin-top: 40px;
    margin-left: 10px;
}

.title-news, .title-task, .kelas, .kurikulum {
    font-family: 'Lora';
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.list-materi {
    font-family: 'Montserrat';
    font-size: 14px;
}

.table-kelas, .table-task, .box-materi, .box-status{
    box-sizing: border-box;
    box-shadow: 0px 5px 5px 0px;
    border: 1px solid white;
}

.nav-item a {
    color: white;
}
.matematika, .teman, .biodata-title, .settings {
    margin-left: -90px;
    font-family: 'Lora';
    font-weight: 400;
}
.biodata-user {
    margin-top: 60px;
    text-align: center;
}
.form-biodata-user {
    margin-top: 10px;
    margin-left: 30px;
}

.box-materi {
    padding: 2px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;

}
.btn-soal-latihan {
    margin-top: 30px;
}
.kuis, .tugas {
    margin-top: 80px;
}
.materi, .quiz, .status {
    width: 500px;
    box-shadow: 0px 0px 2px 2px;
    font-family: 'Montserrat';
    padding-top: 10px;
}
.footer {
    margin-top: 600px;
}
.laport-belajar {
    margin-top: 80px;
}



